@import '../../style/_color';

.side-bar {
  width: 202px;

  .side-bar-toggle-wrapper {
    height: 40px;
    border-left: 1px solid $stroke-8;
    border-right: 1px solid $stroke-8;

    .side-bar-toggle {
      float: right;
      margin: 5px;
      width: 30px;
      height: 30px;
    }

    .side-bar-toggle-line {
      display: block;
      height: 3px;
      width: 30px;
      margin-bottom: 7px;
      background-color: $stroke-5;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}