{
    "presets": [
      ["env", {
        "targets": {
          "browsers": ["> 1%", "last 20 versions", "not ie <= 8", "safari >= 7"]
        },
        "useBuiltIns": true
      }],
      "stage-2"
    ],
    "plugins": ["transform-runtime"]
  }
