// 主色
$primary-1: #27f;
$primary-2: #38f;
$primary-3: #59f;
$primary-4: #bdf;
$primary-5: #e8f7fd;
$primary-6: #eaf3ff;

// 中性色
$stroke-1: #333;
$stroke-2: #444;
$stroke-3: #666;
$stroke-4: #999;
$stroke-5: #bbb;
$stroke-6: #cacaca;
$stroke-7: #e5e5e5;
$stroke-8: #f2f2f2;
$stroke-9: #f8f8f8;
$stroke-10: #fff;

// 辅助色 - 成功
$success-1: #0a0;
$success-2: #4b0;
$success-3: #6c2;
$success-4: #396;
$success-5: #4b8;
$success-6: #83e5a7;

// 辅助色 - 警告
$warn-1: #fc0;
$warn-2: #feb;
$warn-3: #fff7cc;

// 辅助色 - 醒目提示
$notice-1: #f60;
$notice-2: #f85;

// 辅助色 - 错误
$error-1: #e33;
$error-2: #f44;
$error-3: #f66;

// 辅助色 - 其他
$mask-black-1: rgba(0, 0, 0, 0.1);
$mask-black-2: rgba(0, 0, 0, 0.2);
$mask-black-3: rgba(0, 0, 0, 0.3);
$mask-black-4: rgba(0, 0, 0, 0.4);
$mask-black-5: rgba(0, 0, 0, 0.5);
$mask-black-6: rgba(0, 0, 0, 0.6);
$mask-white-1: rgba(255, 255, 255, 0.1);
$mask-white-2: rgba(255, 255, 255, 0.2);
$mask-white-3: rgba(255, 255, 255, 0.3);
$mask-white-4: rgba(255, 255, 255, 0.4);
$mask-white-5: rgba(255, 255, 255, 0.5);
$mask-white-6: rgba(255, 255, 255, 0.6);