{
  "root": true,
  "parser": "babel-eslint",
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "script"
  },
  "extends": "standard",
  "rules": {
    "indent": ["error", 2],
    "arrow-parens": 0,
    "generator-star-spacing": 0,
    "no-console": "off",
    "no-var": "error",
    "semi": ["error", "never"],
    "quotes": ["error", "single"],
    "no-constant-condition": "off"
  }
}